{% extends 'prof/base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete Group{% endblock title %}
{% block navbar_title %}{{ prof.username }}{% endblock navbar_title %}
{% block navitem_title %}Delete Group{% endblock navitem_title %}

{% block buttons %}
    <a class="btn btn-warning mx-2" href="{% url 'prof:view_groups' %}">Cancel</a><br>
    <a class="btn btn-light" href="{% url 'prof:index' %}">Home</a>
{% endblock buttons %}

{% block body %}
    <div align='center' class="container-fluid">
        <div class="container d-flex h-100 row justify-content-center col-20">
            <p>Are you sure you want to delete the group "{{ group.category_name }}"?</p>
            <form method="post" action="{% url 'prof:delete_group' group_id=group.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock body %}
